body
{
    font: outline;
}

header{
    padding: 1%;
}

#btn-v-classique{
    background-color:green;
}

#btn-v-beta{
    text-decoration: blue;
    text-decoration-color: blue;
}

#imageAccueil{
    padding: 20%;
    background-image: url(images/imageAccueil.jpg);
}

#textAfterImage{
    padding-top: 5%;
}

